@import url('https://fonts.googleapis.com/css?family=Slabo+13px&display=swap');

// Fonts
$font-slabo: 'Slabo 13px', serif;

// Colors
$blue: #34495e;
$blue-darker: #1f2a36;
$white: #fafafa;
$green: #348277;
$green-darker: #126055;
